html {
    box-sizing: border-box;
    background-color: #fff;
    max-width: 1920px;
    margin: 0 auto;


}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

:root {
    --gap: 32px;
    --bip: 86px
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format("woff2"),
        url('../fonts/Montserrat-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format("woff2"),
        url('../fonts/Montserrat-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.woff2') format("woff2"),
        url('../fonts/Montserrat-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-SemiBold'), url('../fonts/OpenSans-SemiBold.woff2') format("woff2"),
        url('../fonts/Montserrat-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}



/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {

    padding: 0px 75px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
    color: #1C1C1C;
    font-weight: 300;
    line-height: 130%;
    font-size: 36px;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #787878;
}

.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}

/* nav */

.header {
    z-index: 3000;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    margin-bottom: 50px;
}

.header__container {
    position: relative;
    margin: 0 auto;
    padding: 14px;
    width: 100%;
}

.header__logo-photo {

    padding: 0;
    margin: 0;
    margin-left: 60px;

}

.nav__list {

    margin: 0;
    padding: 27px 0;
    align-items: center;
    transition: border 0.3s ease-in-out;
}

.nav__list-item:focus {
    border: 1px solid #E1670E;
}

.nav__list-item:hover {
    border-bottom: 3px solid #E1670E;
}

.nav__list-item:active {
    border-bottom: 3px solid #E1670E;
    color: #E1670E;
}

.nav__list-item:not(:last-child) {
    margin-right: 85px;
}



.nav__list-item {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.nav__list-item1 {
    margin-right: 105px;
}

.header__form {
    align-items: center;
}

.header__input-lupa {
    border: none;
}

.header__lupa {
    
    align-items: center;
    border: none;
    transition: fill 0.3s ease-in-out;
}

.header__lupa:focus rect {
    fill: #333;
    border: 2px solid #FF9900;
}

.header__lupa:focus path {
    stroke: #333;
    border: 2px solid #FF9900;
}

.header__lupa:hover rect {
    fill: #FF9900;
}

.header__lupa:hover path {
    stroke: #FF9900;
}

.header__lupa:active rect {
    fill: #FF9900;
}

.header__lupa:active path {
    stroke: #FF9900;
}

.header__lupa:focus circle {
    stroke: #333;
    border: 2px solid #FF9900;
}


.header__lupa:hover circle {
    stroke: #FF9900;
}


.header__lupa:active circle {
    stroke: #FF9900;
}

.header__lupa1 {
    margin-right: 10px;
    transition: fill .3s ease-in-out;
}
.header__lupa1:focus rect {
    fill: #E1670E;
}
.header__lupa1:hover rect {
    fill: #E1670E;
}

.header__lupa1:active rect {
    fill: #E1670E;
}
.header__lupa1:focus path {
    stroke: #E1670E;
}
.header__lupa1:hover path {
    stroke: #E1670E;
}

.header__lupa1:active path {
    stroke: #E1670E;
}

.popup__close {
    padding-right: 10px;
}




.popup {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    align-items: center;
    transition: visibility .5s, opacity .5s ease-in-out;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    right: 0;
}


.popup_opened {
    visibility: visible;
    opacity: 1;
    display: flex;
    position: absolute;
   
    }



 
    .popup__input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #CACACA;
        margin-left: 30px;
        padding-right: 220px;
        margin-right: 10px;
        border: none;
        border-bottom: 1px solid #CACACA;
        outline: none;
    }
    
    .popup__close {
        transition: fill .3s ease-in-out;
    }
    
    .popup__close:focus rect {
        fill: #E1670E;
    }
    
    .popup__close:hover rect {
        fill: #E1670E;
    }
    
    .popup__close:active rect {
        fill: #E1670E;
    }
    
    .popup__close:focus circle {
        stroke: #E1670E;
    }
    
    .popup__close:hover circle {
        stroke: #E1670E;
    }
    
    .popup__close:active circle {
        stroke: #E1670E;
    }
    
    .popup--active .header__lupa {
        display: none;
    }

/* head */

.head {
    margin-bottom: 50px;

}

.head__container {


    min-width: 320px;
    border-radius: 32px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;

}

.head__descr {
    padding-left: 80px;
    padding-top: 100px;



}

.swiper {

    height: 620px;
}

.swiper-slide1 {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.swiper-slide2 {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide3 {
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: white;
}

.head__title {
    margin: 0;
    max-width: 837px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-left: 100px;
    padding-top: 70px;
}


.head__text {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 90px;
    padding-left: 100px;
    max-width: 790px;
}

.head__btn {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    margin-left: 100px;
    color: #FFFFFF;
    background-color: #FF9900;
    padding: 25px 39px;
    border-radius: 16px;
    transition: background-color 0.3s ease-in-out;
}

.head__btn:focus {
    background-color: #FFB84D;
}

.head__btn:hover {
    background-color: #FFB84D;
}

.head__btn:active {
    background-color: #E1670E;
}

.lupa-svg--active .ppp {
    display: block;
}

/* about us */
.aboutus__container {
    margin: 0 auto;
}

.aboutus {

    margin-bottom: 50px;

}

.aboutus__title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 20px;
}

.aboutus__text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    max-width: 1235px;

}

/* work */
.work {

    margin-bottom: 100px;


}

.work__left-part {
    margin-right: 32px;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.work__left-part-text {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;

}

.work__workmen {
    border-radius: 32px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work__btn {
    margin-top: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 19px 38px;
    margin-right: 50px;
    border: 3px solid #FF9900;
    transition: background-color 0.3s ease-in-out;
    border-radius: 16px;
}

.work__btn:focus {
    background-color: #FF9900;
}

.work__btn:hover {
    background-color: #FF9900;
}

.work__btn:active {
    background-color: #E1670E;
}

.work__bottom-part {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    align-items: center;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.work__right-title {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.work__right-text {
    margin: 0;
    max-width: 450px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.work__right-photo {

    margin-right: 50px;

}

.work__right-part {
    flex: 1;
}

.work__right-part1 {
    margin: 0;
    border: 1px solid #CACACA;
    margin-bottom: 50px;
    padding: 65px 60px;
    justify-content: space-between;
    border-radius: 32px;
    flex: 1;

}

.work__right-part2 {
    margin: 0;
    border: 1px solid #CACACA;
    justify-content: space-between;
    padding: 65px 60px;
    border-radius: 32px;

}

/* how work */

.howwork {
    margin: 0;
    margin-bottom: 100px;
    min-width: 320px;



}

.howwork__title {
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}


.howwork__list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 45px;
    transition: color 0.3s ease-in-out;

}

.howwork__list-item:focus {
    color: #E1670E;
}

.howwork__list-item:hover {
    color: #FF9900;
}

.howwork__list-item:active {
    color: #E1670E;
}

.howwork__list {
    justify-content: space-between;
    max-width: 500px;

}

.howwork__second-title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.howwork__text {
    margin: 0;
    max-width: 758px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 18px;
    margin-right: 142px;
}

.howwork__btn-flex {
    justify-content: flex-start;

}

.howwork__btn {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 38px;
    border-radius: 16px;
    background-color: #FF9900;
    margin-right: 50px;
    transition: background-color 0.3s ease-in-out;
}

.howwork__descr {
    margin: 0;
    margin-bottom: -18px;

}

.howwork__btn:focus {
    background-color: #FFB84D;
}

.howwork__btn:hover {
    background-color: #FFB84D;
}

.howwork__btn:active {
    background-color: #E1670E;
}

.howwork__btn-deal {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 19px 38px;

    transition: background-color 0.3s ease-in-out;
}

.howwork__btn-deal:focus {
    background-color: #666666;
    color: #FFFFFF;
}

.howwork__btn-deal:hover {
    background-color: #666666;
    color: #FFFFFF;
}

.howwork__btn-deal:active {
    background-color: #000000;
    color: #FFFFFF;
}

.howwork__photo {
    position: relative;
    float: none;
}

.tabs-nab__btn--active {
    color: tan;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: block;
}

.tabs-nab__btn--active {
    color: inherit;
}

/* question */

.question {
    margin: 0;
    margin-bottom: 120px;

}

.question__title {
    margin: 0;
    margin-bottom: 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.question__list {
    flex-direction: column;
    justify-content: space-between;

}

.question__link {}

.question__plus {}

.question__svg {}

.question__list-item {


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    border-bottom: 1px solid #CACACA;
    padding-top: 35px;
    padding-bottom: 15px;

    transition: color 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
}

.question__list-item1 {
    border-top: 1px solid #CACACA;
}


.question__list-item:focus,
.question__list-item:focus ellipse {
    color: #FF9900;
    fill: #FF9900;

}

.question__list-item:hover,
.question__list-item:hover ellipse {
    color: #FF9900;
    fill: #FF9900;

}

.question__list-item:active,
.question__list-item:active ellipse {
    color: #FF9900;
    fill: #FF9900;
}

.ac .ac-trigger {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #111;
    text-align: left;
    width: 100%;
    padding: 10px 30px 10px 10px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color .25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 39px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}





.ac .ac-trigger:focus {
    color: #FF9900;
}

.ac .ac-trigger:hover {
    color: #FF9900;
}

.ac .ac-trigger:active {
    color: #FF9900;
}

.ac .ac-panel .ac-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.ac .ac-trigger::after {
    content: "+";
    text-align: center;
    width: 15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    right: 10px;
    top: 50%;
    display: none;
}

.ac {
    border: none;
    border-top: 1px solid #CACACA;
    box-shadow: 0;

}


.ac1 {
    border-bottom: 1px solid #CACACA;
}

.svg {
    align-self: center;

}

.ac .ac-header {

    transition: fill 0.3s ease-in-out;
}

.ac-header:focus ellipse {
    fill: #FF9900;
}

.ac-header:hover ellipse {
    fill: #FF9900;
}

.ac-header:active ellipse {
    fill: #FF9900;
}

.ac .ac-header .svg {
    align-self: center;
    transition: transform 0.3s ease-in-out;
}

.is-active .svg {
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}





/* footer */

.footer__container {
    padding: 5px;
    justify-content: space-between;
}

.footer {
    background-color: #000000;
}

.footer__logo {
    margin: 0;
    margin-top: -8px;
    margin-bottom: 20px;
}

.footer__list-item:not(:last-child) {
    margin: 0;
}

.footer__list-item {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    margin-bottom: 90px;
    transition: color 0.3s ease-in-out;
}

.footer__list-item:focus {
    color: #FFB84D;
    border: 1px solid #FF9900;
}

.footer__list-item:hover {
    color: #FF9900;
}

.footer__list-item:active {
    color: #E1670E;
}

.footer__icon:not(:last-child) {
    margin-right: 25px;
}

.footer__left {
    padding-top: 50px;
}

.footer__left-part {
    text-align: left;
    margin-left: 65px;
}

.footer__title {
    margin-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.footer__input {
    flex-direction: column;
}

.footer__input-item {
    color: #FFFFFF;
    background-color: #414141;
    transition: backrgound-color 0.3s ease-in-out;
}

.footer__input-item:focus {
    color: #FFFFFF;
    background-color: #666666;
}

.footer__input-item:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.footer__input-item:active {
    color: #FFFFFF;
    background-color: #666666;
}

.footer__text {
    margin: 0;
    padding-top: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    height: 320px;
    width: 363px;
}

.footer__name {
    margin: 0;
    padding: 14px 24px;
    width: 579px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    background-color: #414141;
    border: 1px solid #414141;
    border-radius: 16px;
    margin-bottom: 25px;
}

.footer__email {
    margin: 0;
    padding: 14px 24px;
    width: 579px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    background-color: #414141;
    border: 1px solid #414141;
    border-radius: 16px;
    margin-bottom: 25px;
}

.footer__textt {
    margin: 0;
    padding-left: 16px;
    padding: 14px 24px;
    width: 579px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    background-color: #414141;
    border: 1px solid #414141;
    border-radius: 16px;
    height: 150px;
    margin-bottom: 30px;
}

.footer__btn {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 55px;
    border-radius: 16px;
    margin-right: 25px;
    background-color: #FF9900;
    transition: background-color 0.3s ease-in-out;
}

.footer__checkbox {
    border: 1px solid #CACACA;
    margin-right: 2px;
}

.footer__text-checkbox {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer__form {
    transition: background-color 0.3s ease-in-out;
}

.footer__form:focus {
    background-color: #666666;
}

.footer__form:hover {
    background-color: #666666;
}

.footer__form:active {
    background-color: #666666;
}

.footer__btn:focus {
    background-color: #FFB84D;
}

.footer__btnhover {
    background-color: #FFB84D;
}

.footer__btn:active {
    background-color: #E1670E;
}

.footer__icon {
    transition: fill 0.3s ease-in-out;
}

.footer__icon:focus path {
    fill: #666666;
}

.footer__icon:hover path {
    fill: #FF9900;
}

.footer__icon:active path {
    fill: #E1670E;
}

.footer__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.footer__custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.footer__custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #fff;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.footer__custom-checkbox:checked+label::before {
    border-color: #fff;
    background-color: #000;
    background-image: url("../img/nike.png");
}

.footer__custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #fff;
}

.footer__custom-checkbox:not(:disabled):active+label::before {
    background-color: #fff;
    border-color: #fff;
}



.footer__custom-checkbox:focus:not(:checked)+label::before {
    border-color: #fff;
}

.footer__custom-checkbox:disabled+label::before {
    background-color: #fff;
}

.footer__checkbox-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;

}

.footer__inst {
    display: none;
}

.burger {
    display: none;
}



